/* #region Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* #endregion Import */

/* #region Root */
:root {
    --p1: 0.6rem;
    --light-blue: #8EDAFC;
    --avatar-with: 3rem;
}

/* #endregion Root */

/* #region Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main-content i {
    display: block;
}

img {
    display: block;
}

/* #endregion Regole Reset */

/* #region Utilities */
.row {
    display: flex;
    align-self: center;
    flex-grow: 1;
    height: 90%;
    margin-inline: var(--p1);
    border-radius: 5px;
    overflow: hidden;
}

.col {
    height: 100%;
}

.w-30 {
    flex-basis: 30%;
}

.w-60 {
    flex-grow: 1;
}

/* #endregion Utilities */

/* #region Container */
.container {
    display: flex;
    max-width: 1400px;
    height: 100%;
    margin-inline: auto;
}

/* #endregion Container */

/* #region Main Content */
.main-content {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: -moz-linear-gradient(180deg, rgba(0, 150, 136, 1) 25%, rgba(218, 219, 213, 1) 25%);
    background: -webkit-linear-gradient(180deg, rgba(0, 150, 136, 1) 25%, rgba(218, 219, 213, 1) 25%);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 25%, rgba(218, 219, 213, 1) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688", endColorstr="#dadbd5", GradientType=1);
}

/* #endregion Main Content */

/* #region Profile Contacts */

.profile-contacts {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* ! Font Awesome Icon */
.my-profile i,
.search i {
    color: #B1B1B1;
}

/* ! My Profile */
.my-profile {
    display: flex;
    align-items: center;
    padding: var(--p1) 1rem var(--p1) var(--p1);
    background-color: #EAEAEA;
}

.my-profile__actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

/* ! Notifications */
.notifications {
    display: flex;
    align-items: center;
    padding: var(--p1);
    background-color: var(--light-blue);
}

.notifications i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--avatar-with);
    aspect-ratio: 1;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F2FBFF;
    color: var(--light-blue);
    font-size: 1.4rem;
}

/* ! Search */
.search {
    display: flex;
    align-items: center;
    padding: var(--p1);
    background-color: #f7f7f7;
}

.search i {
    margin-inline: 1rem;
    font-size: 1.2rem;
    transition: transform 100ms linear;
}

.search .fa-magnifying-glass {
    transform: rotate(0deg);
}

.search .fa-arrow-down {
    color: green;
    transform: rotate(90deg);
}

.search__text {
    border: none;
    flex-grow: 1;
}

.search .search__text:focus-visible {
    outline: none;
}

/* ! Contacts List */
.contacts {
    flex-grow: 1;
    overflow-y: auto;
}

.contacts__list {
    list-style-type: none;
    overflow-y: auto;
}

.item {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: var(--p1);
    background-color: #fff;
    cursor: pointer;
}

.item:hover,
.item.selected {
    background-color: #E9EBEB;
}

.my-profile__img,
.item__img {
    width: var(--avatar-with);
    aspect-ratio: 1;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F2F2F2;
}

.item__last-message {
    padding-top: 3px;
    color: #B1B1B1;
    font-size: 0.8rem;
}

.contacts__list .last-online {
    position: absolute;
    right: var(--p1);
    top: var(--p1);
    font-size: 0.6rem;
    color: #888;
}

/* #endregion Profile Contacts */

/* #region Contact Chat */
.contact-chat {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* ! Header */
.contact-chat__header {
    display: flex;
    align-items: center;
    padding: var(--p1) 1rem var(--p1) var(--p1);
    background-color: #EAEAEA;
    border-left: 1px solid #B1B1B1;
}

.contact-chat__header .last-online {
    padding-top: 3px;
    font-size: 0.8rem;
    color: #888;
}

.header__actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    color: #B1B1B1;
}

/* ! Messages */
.contact-chat__messages {
    flex-grow: 1;
    padding: 2rem 4rem;
    background: url(../img/mine.jpg);
    background-size: contain;
    font-size: 1rem;
    overflow-y: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.messages .message {
    position: relative;
    display: flex;
    min-width: 300px;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.message__text {
    margin-right: auto;
}

.message i {
    margin-left: 1rem;
    color: #B1B1B1;
}

.contact-chat__messages .received {
    align-self: flex-start;
    background-color: #fff;
}

.contact-chat__messages .sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.contact-chat__messages .date {
    align-self: center;
    min-width: auto;
    padding: 0.5rem 1rem;
    margin-block: 10px 20px;
    background-color: #fff;
    font-size: 0.8rem;
    cursor: auto;
}

.message__options {
    position: absolute;
    top: 35px;
    right: 16px;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 60%);
    cursor: pointer;
    z-index: 999;
}

.message__options.visible {
    display: block;
}

.message__options .option {
    padding: 1.2rem;
}

.message__options .option__info {
    border-bottom: 1px solid #B1B1B1;
}

.message__options .option:hover {
    background-color: #E9EBEB;
}

.message__time {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 0.7rem;
    color: #B1B1B1;
}

.message__time.visible {
    display: block;
}

/* ! Write Message */
.contact-chat__write-message {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--p1);
    background-color: #F3EEEA;
}

.contact-chat__write-message i {
    font-size: 2rem;
    color: #888;
}

.write-message__text {
    width: 80%;
    padding: 1rem;
    margin-inline: var(--p1);
    border: none;
    font-size: 1rem;
}

/* #endregion Contact Chat */